// #app {
//   position: relative;
//   background: url('../assets/skyscraper-silhouette.png') no-repeat center/cover;
//   height: 100vh;
// }
.bg-primary {
  background-color: #40A374 !important;
}
.bg-danger {
  background-color: #DD3548 !important;
}
.btn-danger {
  background-color: #DD3548 !important;
}
.btn-primary {
  background: #40A374 !important;
}
.text-primary {
  color: #40A374 !important;
  font-weight: bolder;
  border-bottom: 3px solid;
}